<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo = 'categorias')"></head>
<body>

<nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>
<!--/. NAV TOP  -->

<nav th:replace="fragments/leftbar.html :: barraizquierda( active = 'categoria')"></nav>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="container">

                        <h2 th:text="${usuario.idusuario == 0? 'Nuevo Usuario' : 'Editar Usuario'}">Nuevo/Editar</h2>
                        <hr/>
                        <form method="post" th:action="@{'/usuario/guardar'}" th:object="${usuario}">
                            <input type="hidden" th:field="*{idusuario}"/>
                            <div class="form-group">
                                <label for="Nombre">Nombre del usuario</label>
                                <input type="text" class="form-control" th:field="*{nombre}">
                            </div>
                            <div class="form-group">
                                <label for="Correo">Correo</label>
                                <input type="text" class="form-control" th:field="*{correo}">
                            </div>
                            <div class="form-group">
                                <label for="Contraseña">Contraeña</label>
                                <input type="hidden" class="form-control" th:field="*{contrasena}">
                            </div>
                            <div class="form-group">
                                <label for="sede">Sede</label>
                                <select class="form-control" name="sede" id="sede">
                                    <option th:each="sede : ${listasedes}" th:text="|${sede.sede}|"
                                            th:value="${sede.idrol}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="enable">Definir estado</label>
                                <input type="text" class="form-control" th:field="*{enable}">
                            </div>
                            <div class="form-group">
                                <label for="rol">Rol</label>
                                <select class="form-control" name="rol" id="rol">
                                    <option th:each="rol : ${listaroles}" th:text="|${rol.nombre}|"
                                            th:value="${rol.idrol}"></option>
                                </select>
                            </div>
                            <a th:href="@{'/usuario/lista'}" class="btn btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-primary"
                                    th:text="${usuario.idusuario == 0? 'Registrar' : 'Actualizar'}">
                                Reg/act
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>

</body>
</html>