<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head ></head>
<body>
<div class="container">

    <h2>Lista Usuarios</h2>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{'/usuario/nuevo'}">Nuevo Transportista</a>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Correo</th>

            <th>Sede</th>
            <th>Acttivado</th>
            <th>Rol</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="usuario, info : ${listaUsuarios}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.correo}"></td>
            <td th:text="${usuario.sede_idrol}"></td>
            <td th:text="${usuario.enable}"></td>
            <td th:text="${usuario.rol_idrol}"></td>
            <td><a class="btn btn-primary"
                   th:href="@{'/usuario/editar' + '?id=' + ${usuario.id_usuario}}">Editar</a>
            </td>
            <td><a class="btn btn-danger"
                   th:href="@{'/usuario/borrar' + '?id=' + ${usuario.id_usuario}}">Borrar</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>