<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/leftbar.html :: cabecera(titulo='Asignar stock a sede')">
</head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda"></nav>


    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Stock para sede
            </h1>
        </div>

        <!-- /. COMUNIDAD  -->
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-content">
                            <div class="table-responsive">

<!--
                                <div class="form-group" th:object="${sede}">


                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr class="info">
                                            <th>Sede</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr >
                                            <td th:text="${sede.nombre}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>-->


                                <h2 >Seleccione y complete los campos</h2>
                                <br>
                                <form method="post" th:action="@{'/inventarioSede/agregarStock'}" th:object="${inventariosede}">
                                    <input type="hidden" th:field="*{idiventariosede}"/>
                                    <!--<div th:if="${msgRepetido != null}" th:text="${msgRepetido}" class="alert alert-success"
                                         role="alert" style="width: 40%">
                                    </div>-->
                                    <div th:if="${msgRepetido != null}" th:text="${msgRepetido}" class="alert alert-danger"
                                         role="alert" style="width: 40%">
                                    </div>

                                    <div class="form-group" >
                                        <label for="sede_idsede">Seleccione la sede</label>
                                        <select class="form-control" name="sede" id="sede" style="width: 40%">
                                            <option th:each=" x : ${listaSede}"
                                                    th:value="${x.idsede}"
                                                    th:text="${x.nombre}">
                                            </option>
                                        </select>
                                    </div>


                                    <br>

                                    <!-- ELEGIR UN PRODUCTO -->
                                    <div class="form-group" >
                                        <label for="producto">Producto/Stock Disponible - Precio de venta</label>
                                        <select class="form-control" name="inventarioproductoidinventario" id="producto" style="width: 40%">
                                            <option th:each=" pro : ${inventario}"
                                                    th:value="${pro.inventarioproductoidinventario.getIdinventario()}"
                                                    th:text="${pro.inventarioproductoidinventario.producto.nombreproducto}+' / '+${pro.stock}+' / '+${pro.inventarioproductoidinventario.preciomosqoy}">
                                            </option>
                                        </select>
                                    </div>

                                    <!- FIN -->

                                    <!-- ELEGIR LA CANTIDAD -->
                                    <div>
                                        <label >Cantidad</label>
                                        <input style="width: 88%" type="text" class="form-control" th:field="*{stock}">
                                        <div class="text-danger" th:if="${#fields.hasErrors('stock')}"
                                             th:errors="*{stock}"></div>

                                    </div>
                                    <!-- FIN -->

                                    <!--Fecha de envio-->
                                    <div class="form-group"  id ="artesano_compra">
                                        <label >Fecha de envío</label>
                                        <input type="text" class="form-control" th:field="*{fechallegada}" style="width: 25%" placeholder="formato:dia/mes/año">
                                        <div class="text-danger" th:if="${#fields.hasErrors('fechallegada')}" th:errors="*{fechallegada}"></div>
                                    </div>




                                    <a th:href="@{'/sede/lista'}" class="btn btn-info">Finalizar</a>
                                    <button    type="submit" class="btn btn-primary">+ producto</button>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>

</html>
