<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo = 'Gestion de sedes')"></head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>
    <!--/. NAV TOP  -->

    <nav th:replace="fragments/leftbar.html :: barraizquierda( active = 'categoria')"></nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="container">

                            <h2 th:text="${sede.idsede == 0? 'Nuevo Sede' : 'Editar sede'}">
                                Nuevo/Editar</h2>
                            <hr/>
                            <div style="width: 40%" th:if="${msg != null}" th:text="${msg}" class="alert alert-danger"
                                 role="alert"></div>

                            <form method="post" th:action="@{'/sede/guardar'}" th:object="${sede}">
                                <input type="hidden" th:field="*{idsede}"/>
                                <input th:if="${usuariodelasede!=null}" type="hidden" th:field="${usuariodelasede.idusuario}"/>
                                <div class="form-group">
                                    <label >Nombre de la sede</label>
                                    <input type="text" style="width: 40%" class="form-control" th:field="*{nombre}">
                                    <div class="text-danger" th:if="${#fields.hasErrors('nombre')}"
                                         th:errors="*{nombre}"></div>

                                </div>

                                <a th:href="@{'/sede/lista'}" class="btn btn-outline-danger">Cancelar</a>

                                <button type="submit" class="btn btn-outline-danger"
                                        th:text="${sede.idsede == 0? 'Registrar sede y asignar un gestor de sede' : 'Actualizar'}">
                                    Reg/act
                                </button>

                            </form>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>
</html>