<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo = 'Gestion de tiendas')"></head>
<body>


<div id="wrapper">
    <!--/. NAV TOP  -->
    <!--/. NAV TOP  -->
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda( active = 'tienda')"></nav>

    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="container">
                            <h2 th:text="${tienda.idtienda == 0? 'Nueva Tienda' : 'editar línea'}">Nuevo/Editar</h2>
                            <hr/>
                            <form method="post" th:action="@{'/tienda/guardar'}" th:object="${tienda}">
                                <input type="hidden" th:field="*{idtienda}"/>
                                <div class="form-group">
                                    <label>Nombre </label>
                                    <input type="text" class="form-control" th:field="*{nombre}" with="50%">
                                </div>
                                <a th:href="@{'/tienda'}" class="btn btn-outline-danger">Cancelar</a>
                                <!--  falta definir dónde será la vista prinpipal respecto a esta tabla.
                                Esto aparece cuando se requiere registrar un producto-->
                                <button type="submit" class="btn btn-outline-danger"
                                        th:text="${tienda.idtienda == 0? 'Registrar' : 'Actualizar'}">Reg/act
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- JS Scripts-->

<!-- jQuery Js -->
<script th:href="@{/js/jquery-1.10.2.js}"></script>

<!-- Bootstrap Js -->
<script th:href="@{/js/bootstrap.min.js}"></script>

<script th:href="@{/js/materialize.min.js}"></script>

<!-- Metis Menu Js -->
<script th:href="@{/js/jquery.metisMenu.js}"></script>
<!-- Morris Chart Js -->
<script th:href="@{/js/morris/raphael-2.1.0.min.js}"></script>
<script th:href="@{/js/morris/morris.js}"></script>


<script th:href="@{/js/easypiechart.js}"></script>
<script th:href="@{/js/easypiechart-data.js}"></script>

<script th:href="@{/js/Lightweight-Chart/jquery.chart.js}"></script>

<!-- Custom Js NO CORRE NO SE POR QUE-->
<script th:href="@{/js/custom-scripts.js}"></script>

</body>
</html>