<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo = '')"></head>
<body>
<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">track_changes</i> <strong>Moscoy</strong></a>

        <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
    </div>

    <ul class="nav navbar-top-links navbar-right">

        <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>John Doe</b> <i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
</nav>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
    </li>

    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
</ul>


<!--/. NAV TOP  -->
<!--/. NAV TOP  -->

<nav th:replace="fragments/leftbar.html :: barraizquierda( active = 'categoria')"></nav>

<div id="page-wrapper" >
    <div class="container">
        <h2 th:text="${tienda.idtienda == 0? 'Nueva línea' : 'editar línea'}">Nuevo/Editar</h2>
        <hr/>
        <form method="post" th:action="@{'/tienda/guardar'}" th:object="${tienda}">
            <input type="hidden" th:field="*{idtienda}" />
            <div class="form-group">
                <label>Nombre </label>
                <input type="text" class="form-control" th:field="*{nombre}">
            </div>
            <a th:href="@{'/tienda'}" class="btn btn-outline-danger">Cancelar</a>
            <!--  falta definir dónde será la vista prinpipal respecto a esta tabla.
            Esto aparece cuando se requiere registrar un producto-->
            <button type="submit" class="btn btn-outline-danger" th:text="${tienda.idtienda == 0? 'Registrar' : 'Actualizar'}">Reg/act</button>
        </form>
    </div>


</div>

<!-- JS Scripts-->

<!-- jQuery Js -->
<script th:href="@{/js/jquery-1.10.2.js}"></script>

<!-- Bootstrap Js -->
<script th:href="@{/js/bootstrap.min.js}"></script>

<script th:href="@{/js/materialize.min.js}"></script>

<!-- Metis Menu Js -->
<script th:href="@{/js/jquery.metisMenu.js}"></script>
<!-- Morris Chart Js -->
<script th:href="@{/js/morris/raphael-2.1.0.min.js}"></script>
<script th:href="@{/js/morris/morris.js}"></script>


<script th:href="@{/js/easypiechart.js}"></script>
<script th:href="@{/js/easypiechart-data.js}"></script>

<script th:href="@{/js/Lightweight-Chart/jquery.chart.js}"></script>

<!-- Custom Js NO CORRE NO SE POR QUE-->
<script th:href="@{/js/custom-scripts.js}"></script>

</body>
</html>