<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo = 'Gestion de tienda')"></head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>
    <!--/. NAV TOP  -->

    <nav th:replace="fragments/leftbar.html :: barraizquierda( active = 'categoria')"></nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="container">

                            <h2 th:text="${tienda.idtienda == 0? 'Nueva tienda' : 'Editar tienda'}">
                                Nuevo/Editar</h2>
                            <hr/>


                            <form method="post" th:action="@{'/tienda/guardar'}" th:object="${tienda}">

                                <input type="hidden" th:field="*{idtienda}"/>

                                <div class="form-group">
                                    <div th:if="${msgPagina != null}" th:text="${msgPagina}" class="alert alert-warning"
                                         role="alert"></div>
                                    <div style="width: 40%" th:if="${msg != null}" th:text="${msg}" class="alert alert-success"
                                         role="alert"></div>
                                    <div style="width: 40%" th:if="${msg2 != null}" th:text="${msg2}" class="alert alert-danger"
                                         role="alert"></div>
                                    <label>Nombre </label>
                                    <input type="text" class="form-control" th:field="*{nombre}" style="width: 40%">
                                    <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

                                </div>
                                <a th:href="@{'/tienda'}" class="btn btn-danger">Cancelar</a>
                                <!--  falta definir dónde será la vista prinpipal respecto a esta tabla.
                                Esto aparece cuando se requiere registrar un producto-->
                                <button type="submit" class="btn btn-outline-danger"
                                        th:text="${tienda.idtienda == 0? 'Registrar' : 'Actualizar'}">Reg/act
                                </button>
                            </form>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>
</html>