<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/leftbar.html :: cabecera(titulo='Lista de Artesanos')">
</head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda"></nav>


    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Artesano
            </h1>
        </div>


        <div id="page-inner">

            <div>
                <form method="post" th:action="@{/artesano/buscador}">
                    <input name="searchField" class="form-control mb-3" type="text" placeholder="Buscar" aria-label="Search" style="width: 40%">
                    <button type="submit" class="btn btn-outline-danger">buscar</button>
                    <a th:href="@{'/artesano'}" class="btn btn-outline-danger">Limpiar</a>
                </form>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">

                        <div class="card-action">
                            ARTESANO
                            <a class="btn btn-outline-danger right" th:href="@{'/artesano/nuevo'}">agregar</a>
                            <br>
                            <br>
                            <div th:text="'Total de artesanos: ' + ${totalItems} "></div>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <div th:if="${msgAr != null}" th:text="${msgAr}" class="alert alert-success"
                                     role="alert"></div>

                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>NOMBRE</th>
                                        <th>APELLIDO PATERNO</th>
                                        <th>APELLIDO MATERNO</th>
                                        <th>CODIGO</th>
                                        <th>COMUNIDAD</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="a, info : ${listaArtesano}">
                                        <td th:text="${info.index +1 +prev*5}">1</td>
                                        <td th:text="${a.nombreartesano}">Home</td>
                                        <td th:text="${a.apellidopaterno}">H</td>
                                        <td th:text="${a.apellidomaterno}">H</td>
                                        <td th:text="${a.codigoartesano}">H</td>
                                        <td th:text="${a.comunidad.getNombrecomunidad()}">H</td>
                                        <td><a th:href="@{'artesano/editar?id=' + ${a.idartesano}}"> editar</a></td>
                                        <td><a th:href="@{'artesano/borrar?id=' + ${a.idartesano}}">borrar</a></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br>




                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">

                                        <ul th:if="${last != 1}" class="pagination justify-content-center">

                                            <li class ="page-item" th:classappend="${prev == 0 ? 'disabled': '' }">
                                                <a class="page-link" th:if="${busqueda!=null}" th:href="@{'/artesano/buscador' + '?page=' + ${prev}} "> Anterior </a>
                                                <a class="page-link" th:unless="${busqueda!=null}" th:href="@{'/artesano' + '?page=' + ${prev}} "> Anterior </a>

                                            <li class ="page-item" th:each="page:${pages}" th:classappend="${current == page ? 'active' : ''}" >
                                                <a class="page-link" th:if="${busqueda!=null}" th:href="@{'/artesano/buscador' + '?page=' + ${page}} " th:text="${page}"></a>
                                            <a class="page-link" th:unless="${busqueda!=null}" th:href="@{'/artesano' + '?page=' + ${page}} " th:text="${page}"></a>

                                        </li>

                                            <li class ="page-item" th:classappend="${current == last ? 'disabled': '' }">
                                                <a class="page-link" th:if="${busqueda!=null}" th:href="@{'/artesano/buscador' + '?page=' + ${next}} "> Siguiente </a>
                                                <a class="page-link" th:unless="${busqueda!=null}" th:href="@{'/artesano' + '?page=' + ${next}} "> siguiente </a>


                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End  Kitchen Sink -->
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->

<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>

</html>
