<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo = 'Comunidades')"></head>
<body>

<nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>


<nav th:replace="fragments/leftbar.html :: barraizquierda( active = 'Comunidad')"></nav>


<div id="page-wrapper">
    <h2 class="page-header" th:text="${comunidad.idcomunidad == 0? 'Nueva Comunidad' : 'Editar Comunidad'}">
        Nuevo/Editar</h2>
    <div id="page-inner">

        <div class="row">
            <div  class="col-md-8">
                <div class="card">
                    <div class="container padding">
                        <form method="post" th:action="@{'/comunidad/guardar'}" th:object="${comunidad}">
                            <input type="hidden" th:field="*{idcomunidad}"/>
                            <h4 th:if="${msg1 != null}" th:text="${msg1}" style="color:#FF0000"
                                 role="alert"></h4>
                            <h4 th:if="${msg2 != null}" th:text="${msg2}" style="color:#FF0000"
                                 role="alert"></h4>
                            <br>
                            <div class="form-group">
                                <label for="nombrecomunidad">Nombre Comunidad</label>
                                <input type="text" class="form-control" th:field="*{nombrecomunidad}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('nombrecomunidad')}" th:errors="*{nombrecomunidad}"></div>

                            </div>
                            <div class="form-group">
                                <label for="codigocomunidad">Código Comunidad</label>
                                <input type="text" class="form-control" th:field="*{codigocomunidad}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('codigocomunidad')}" th:errors="*{codigocomunidad}"></div>
                            </div>
                            <a th:href="@{'/comunidad'}" class="btn btn-outline-danger">Cancelar</a>
                            <button type="submit" class="btn btn-outline-danger"
                                    th:text="${comunidad.idcomunidad == 0? 'Registrar' : 'Actualizar'}">Reg/act
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>



</body>
</html>