<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/leftbar.html :: cabecera(titulo='Consignacion / Venta')">
</head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda"></nav>


    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Consignacion / Venta
            </h1>
        </div>
        <!-- /. CATEGORIA  -->
        <div id="page-inner">
            <!-- /. CATEGORIA  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-action">
                            <a class="btn btn-outline-danger" th:href="@{'/ConsignacionVenta/agregarProductosCV'}">agregar</a>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th class="center">#</th>
                                        <th class="center">N° Pedido</th>
                                        <th class="center">Tipo</th>
                                        <th class="center">Fecha Inicio</th>
                                        <th class="center">Fecha Fin</th>
                                        <th class="center"></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="c, info : ${listaConsignacionVenta}">
                                        <td class="center" th:text="${info.index +1}">1</td>
                                        <td class="center" th:text="${c.numeropedido}">Home</td>
                                        <td class="center" th:text="${c.tipo}">H</td>
                                        <td class="center" th:text="${c.fechainicio}"></td>
                                        <td class="center" th:text="${c.fechafin}"></td>
                                        <td ><a th:href="@{'/ConsignacionVenta/agregarProductosCV?id=' + ${c.idconsignacion} }"> + productos</a></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Kitchen Sink -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. PAGE WRAPPER  -->

<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>

</html>