<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/leftbar.html :: cabecera(titulo='Lista de Consignación y Venta')">
</head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda"></nav>


    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Consignacion / Venta
            </h1>
        </div>
        <!-- /. CATEGORIA  -->
        <div id="page-inner">
            <div>

                <form method="get" th:action="@{'/ConsignacionVenta/buscador'}">

                    <input th:if="${busqueda!=null}" th:value="${busqueda}" name="searchField"
                           class="form-control mb-3" type="text" placeholder="Buscar"
                           aria-label="Search" style="width: 40%">
                    <input th:if="${busqueda==null}" name="searchField" class="form-control mb-3" type="text"
                           placeholder="Buscar"
                           aria-label="Search" style="width: 40%">
                    <div th:if="${msgBuscador != null}" th:text="${msgBuscador}" style="color: #ac2925"></div>

                    <button type="submit" class="btn btn-outline-danger">buscar</button>
                    <a th:href="@{'/ConsignacionVenta'}" class="btn btn-outline-danger">Limpiar</a>

                </form>


            </div>


            <!-- /. CATEGORIA  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-content">
                            <div class="table-responsive">
                                <div th:if="${msgPagina != null}" th:text="${msgPagina}" class="alert alert-warning"
                                     role="alert"></div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>#</th>
                                        <th>N° Pedido</th>
                                        <th>Tipo</th>
                                        <th>Nombre Artesano</th>
                                        <th>Apellido Artesano</th>
                                        <th>Comunidad</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="c, info : ${listaConsignacionVenta}">
                                        <td th:text="${info.index +1}">1</td>
                                        <td th:text="${c.numeropedido}">Home</td>
                                        <td th:text="${c.tipo}">H</td>
                                        <td th:text="${c.artesano.nombreartesano}">H</td>
                                        <td th:text="${c.artesano.apellidopaterno}">H</td>
                                        <td th:text="${c.artesano.comunidad.nombrecomunidad}">H</td>
                                        <td   th:text="${c.fechainicio.getDate()}+'/'+${c.fechainicio.getMonth()+1}+'/'+${c.fechainicio.getYear()+1900}"></td>
                                        <td th:if="${c.fechafin==null}" > -- </td>
                                        <td th:unless="${c.fechafin==null}" th:text="${c.fechafin.getDate()}+'/'+${c.fechafin.getMonth()+1}+'/'+${c.fechafin.getYear()+1900}"></td>
                                        <td ><a th:href="@{'/ConsignacionVenta/agregarProductosCV?id=' + ${c.idconsignacion} }"> + productos</a></td>

                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">

                                        <ul th:if="${last != 1}" class="pagination justify-content-center">
                                            <li class ="page-item" th:if="${current != 1 }">
                                                <a class="page-link"  th:if="${busqueda }" th:href="@{'/ConsignacionVenta/buscador' + '?page=' + ${prev} + '&' + 'searchField='+ ${busqueda}} "> Anterior </a>
                                                <a class="page-link" th:unless="${busqueda}" th:href="@{'/ConsignacionVenta' + '?page=' + ${prev}} "> Anterior </a>
                                            </li>

                                            <li class ="page-item" th:each="page:${pages}" th:classappend="${current == page ? 'active' : ''}" >
                                                <a class="page-link" th:if="${busqueda}" th:href="@{'/ConsignacionVenta/buscador' + '?searchField='+ ${busqueda} + '&' + 'page=' + ${page}} " th:text="${page}"  ></a>
                                                <a class="page-link" th:unless="${busqueda}" th:href="@{'/ConsignacionVenta' + '?page=' + ${page}} " th:text="${page}"  ></a>
                                            </li>

                                            <li class ="page-item" th:if="${current != last }">
                                                <a class="page-link"  th:if="${busqueda}" th:href="@{'/ConsignacionVenta/buscador' + '?page=' + ${next} + '&' + 'searchField='+ ${busqueda}} "> Siguiente </a>
                                                <a class="page-link" th:unless="${busqueda}" th:href="@{'/ConsignacionVenta' + '?page=' + ${next}} "> Siguiente </a>
                                            </li>

                                        </ul>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End  Kitchen Sink -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. PAGE WRAPPER  -->

<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>

</html>