<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo = 'producto')"></head>
<body>

<nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>


<nav th:replace="fragments/leftbar.html :: barraizquierda( active = 'producto')"></nav>


<div id="page-wrapper">
    <h2 class="page-header" th:text="${producto.getIdproducto() == 0? 'Nuevo producto' : 'Editar producto'}">
        Nuevo/Editar</h2>
    <div id="page-inner">

        <div class="row">
            <div  class="col-md-8">
                <div class="card">
                    <div class="container padding ">


                        <form method="post" th:action="@{'/producto/guardar'}" enctype="multipart/form-data"  th:object="${producto}">
                            <input type="hidden" th:field="*{idproducto}"/>

                            <div class="form-group">
                                <label for="nombreproducto">Nombre producto</label>
                                <input type="text" class="form-control" th:field="*{nombreproducto}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('nombreproducto')}" th:errors="*{nombreproducto}"></div>
                            </div>
                            <div class="form-group">
                                <label for="codigoproducto">Código Producto</label>
                                <input type="text" class="form-control" th:field="*{codigoproducto}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('codigoproducto')}" th:errors="*{codigoproducto}"></div>
                            </div>
                            <div class="form-group">
                                <label for="descripcionproducto">Descripción Producto</label>
                                <input type="text" class="form-control" th:field="*{descripcionproducto}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('descripcionproducto')}" th:errors="*{descripcionproducto}"></div>
                            </div>
                            <div class="form-group">
                                <label for="codigodescripcionproducto">Código descripción producto</label>
                                <input type="text" class="form-control" th:field="*{codigodescripcionproducto}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('codigodescripcionproducto')}" th:errors="*{codigodescripcionproducto}"></div>

                            </div>
                            <div class="form-group">
                                <label for="linea">Línea producto</label>
                                <input type="text" class="form-control" th:field="*{linea}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('linea')}" th:errors="*{linea}"></div>

                            </div>


                            <a th:href="@{'/producto'}" class=" btn btn-info btn-responsive btninter">Cancelar</a>
                            <button type="submit" class=" btn btn-info btn-responsive btninter rigth"
                                    th:text="${producto.idproducto == 0? 'Registrar' : 'Actualizar'}">Reg/act
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>



</body>
</html>