<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/leftbar.html :: cabecera(titulo='Nueva Compra')">

<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda"></nav>


    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Nueva Compra
            </h1>
        </div>

        <!--  COMUNIDAD  -->
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="table-responsive">

                                <div th:if="${msgnumped!= null}" th:text="${msgnumped}" class="alert alert-warning"
                                     role="alert"> </div>

                                <form method="post" th:action="@{'/inventarioPrincipal/agregarConsigVenta'+ '?referencia2=comprado'}" th:object="${consigYVenta}">






                                    <br>

                                    <div class="form-group">
                                        <label>Numero de Pedido</label>
                                        <input type="text" class="form-control" th:field="*{numeropedido}"
                                               style="width: 25%">
                                        <div class="text-danger" th:if="${#fields.hasErrors('numeropedido')}"
                                             th:errors="*{numeropedido}"></div>
                                    </div>

                                    <!-- Fecha Inicio-->
                                    <div class="form-group">


                                        <label>Fecha Inicio</label>

                                        <input type="text" class="form-control" th:field="*{fechainicio}" style="width: 25%" placeholder="formato:mes/dia/año">
                                        <label>Formato: Mes/Dia/Año</label>
                                        <div class="text-danger" th:if="${#fields.hasErrors('fechainicio')}"
                                             th:errors="*{fechainicio}"></div>


                                        <!--div class="text-danger" th:if="${#fields.hasErrors('fechainicio')}" th:errors="*{fechainicio}"></div-->
                                    </div>
                                    <!--Fecha FIN-->

                                    <!-- ELEGIR UN ARTESANO / COMUNIDAD -->
                                    <div class="form-group">
                                        <label for="artesano">Artesano / Comunidad </label>
                                        <select class="form-control" name="artesano" id="artesano" style="width: 40%">
                                            <option th:each=" ar : ${listaArtesano}"
                                                    th:value="${ar.idartesano}"
                                                    th:text="${ar.nombreartesano} + ' '+ ${ar.apellidopaterno} + ' '+ ${ar.apellidomaterno} + ' / '+ ${ar.comunidad.nombrecomunidad}">

                                            </option>
                                        </select>
                                    </div>
                                    <!- FIN -->
                                    <a th:href="@{'/inventarioPrincipal'}" class="btn btn-danger">Cancelar</a>
                                    <button type="submit" class="btn btn-outline-danger">siguiente</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>

</html>