<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Moscoy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/materialize/css/materialize.min.css}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link th:href="@{/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{/js/Lightweight-Chart/cssCharts.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#comprado").click(function(){
                $("#artesano_compra").hide();
            });
            $("#consignacion").click(function(){
                $("#artesano_compra").show();
            });
        });
    </script>


</head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda"></nav>


    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                INVENTARIO PRINCIPAL
            </h1>
        </div>

        <!--  COMUNIDAD  -->
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="table-responsive">
                                <!--div th:if="${msgCo != null}" th:text="${msgCo}" class="alert alert-success"
                                     role="alert"></div-->

                                <h2 >Consignacion / venta</h2>
                                <br>
                                <form method="get" th:action="@{'/inventarioPrincipal/agregarConsigVenta'}" th:object="${consigYVenta}">
                                    <input type="hidden" th:field="*{idconsignacion}"/>
                                    <!--div th:if="${msgRepetido != null}" th:text="${msgRepetido}" class="alert alert-success"
                                         role="alert" style="width: 40%">
                                    </div-->

                                    <br>

                                    <!-- TIPO(CONSIGNACION O VENTA) -->
                                    <div class="form-group">
                                        <label>tipo</label>
                                        <select class="form-control" style="width: 40%" th:field="*{tipo}" >
                                            <option VALUE="consignacion"> Consignacion </option>
                                            <option value="comprado"> Comprado </option>
                                        </select>
                                    </div>
                                    <!- FIN -->

                                    <!-- Fecha Inicio-->
                                    <div class="form-group">
                                        <label >Fecha Inicio</label>
                                        <input type="text" class="form-control" th:field="*{fechainicio}" style="width: 25%">
                                        <div class="text-danger" th:if="${#fields.hasErrors('fechainicio')}" th:errors="*{fechainicio}"></div>
                                    </div>
                                    <!--Fecha FIN-->
                                    <div class="form-group">
                                        <label >Fecha fin</label>
                                        <input type="text" class="form-control" th:field="*{fechafin}" style="width: 25%">
                                        <div class="text-danger" th:if="${#fields.hasErrors('fechafin')}" th:errors="*{fechafin}"></div>
                                    </div>


                                    <!-- ELEGIR UN ARTESANO -->
                                    <div class="form-group">
                                        <label for="producto">Artesano / Comunidad </label>
                                        <select class="form-control" name="producto" id="producto" style="width: 40%">
                                            <option th:each=" ar : ${listaArtesano}"
                                                    th:value="${ar.idartesano}"
                                                    th:text="${ar.nombreartesano} + ' '+ ${ar.apellidopaterno} + ' '+ ${ar.apellidomaterno} + ' / '+ ${ar.comunidad.nombrecomunidad}">
                                            </option>
                                        </select>
                                    </div>
                                    <!- FIN -->

                                    <a th:href="@{'/inventarioPrincipal'}" class="btn btn-danger">Cancelar</a>
                                    <button type="submit" class="btn btn-primary">siguiente</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>

</html>
