<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/leftbar.html :: cabecera(titulo='Inventario Tienda')">
</head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda"></nav>


    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                INVENTARIO TIENDA
            </h1>
        </div>

        <!-- /. COMUNIDAD  -->
        <div id="page-inner">

            <div>

                <form method="get" th:action="@{'/inventarioTienda/buscador'}">

                    <input th:if="${busqueda!=null}" th:value="${busqueda}" name="searchField"
                           class="form-control mb-3" type="text" placeholder="Buscar"
                           aria-label="Search" style="width: 40%">
                    <input th:if="${busqueda==null}" name="searchField" class="form-control mb-3" type="text"
                           placeholder="Buscar"
                           aria-label="Search" style="width: 40%">
                    <div th:if="${msgBuscador != null}" th:text="${msgBuscador}" style="color: #ac2925"></div>
                    <button type="submit" class="btn btn-outline-danger">buscar</button>
                    <a th:href="@{'/inventarioTienda'}" class="btn btn-outline-danger">Limpiar</a>

                </form>




            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-content">
                            <div class="table-responsive">
                                <div th:if="${msgPagina != null}" th:text="${msgPagina}" class="alert alert-warning"
                                     role="alert"></div>
                                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success"
                                     role="alert"></div>

                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>#</th>
                                        <th>Nombre Tienda</th>
                                        <th>Sede</th>
                                        <th>Producto</th>
                                        <th> Codigo </th>
                                        <th>Stock</th>
                                        <th>Fecha de entrega</th>
                                        <th>Estado</th>
                                        <th></th>
                                        <th></th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="invT,info: ${listaInventarioTienda}" th:if="${invT.estado=='recibido'}">
                                        <td th:text="${info.index +1 +prev*5}" >1</td>
                                        <td th:text="${invT.getTienda().nombre}" >de31edae</td>
                                        <td th:text="${invT.getInventariosede().sede.nombre}" >no hay línea en entidad</td>
                                        <td th:text="${invT.inventariosede.inventarioproductoidinventario.producto.nombreproducto}" >----</td>
                                        <td th:text="${invT.inventariosede.inventarioproductoidinventario.codigogenerado}"></td>
                                        <td th:text="${invT.stocktienda}" >----</td>
                                        <td th:text="${invT.fechaentrega}" >---</td>
                                        <td th:text="${invT.estado}" >---</td>

                                        <td class="center" >
                                            <a  data-toggle="modal" href="#" th:data-target="|#${invT.inventariosede.inventarioproductoidinventario.producto.idproducto}|">Ver</a>
                                        </td>
                                        <td class="center info" th:if="${invT.inventariosede.inventarioproductoidinventario.consignacionyventa.tipo}=='consignacion'"> <a th:href="@{'/inventarioTienda/devolver?id=' + ${invT.idiventariotienda}}" class="center"> Devolver </a></td>



                                        <!-- Modal -->
                                        <div class="modal fade" th:id="${invT.inventariosede.inventarioproductoidinventario.producto.idproducto}" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-header">
                                                <h5 class="modal-title" th:text="${invT.inventariosede.inventarioproductoidinventario.producto.nombreproducto}"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" align="center">
                                                <img  width="480px" height="300px" th:src="@{'/producto/fotoProducto' + '?id=' + ${invT.inventariosede.inventarioproductoidinventario.producto.idproducto}}" />

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <ul th:if="${last != 1}" class="pagination justify-content-center">
                                            <li class ="page-item" th:if="${current != 1 }">
                                                <a class="page-link"  th:if="${busqueda }" th:href="@{'/inventarioTienda/search' + '?page=' + ${prev} + '&' + 'search='+ ${busqueda}} "> Anterior </a>
                                                <a class="page-link" th:unless="${busqueda}" th:href="@{'/inventarioTienda' + '?page=' + ${prev}} "> Anterior </a>
                                            </li>

                                            <li class ="page-item" th:each="page:${pages}" th:classappend="${current == page ? 'active' : ''}" >
                                                <a class="page-link" th:if="${busqueda}" th:href="@{'/inventarioTienda/search' + '?search='+ ${busqueda} + '&' + 'page=' + ${page}} " th:text="${page}"  ></a>
                                                <a class="page-link" th:unless="${busqueda}" th:href="@{'/inventarioTienda' + '?page=' + ${page}} " th:text="${page}"  ></a>
                                            </li>

                                            <li class ="page-item" th:if="${current != last }">
                                                <a class="page-link"  th:if="${busqueda}" th:href="@{'/inventarioTienda/search' + '?page=' + ${next} + '&' + 'search='+ ${busqueda}} "> Siguiente </a>
                                                <a class="page-link" th:unless="${busqueda}" th:href="@{'/inventarioTienda' + '?page=' + ${next}} "> Siguiente </a>
                                            </li>

                                        </ul>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>

</html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

