<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/leftbar.html :: cabecera(titulo='Moscoy')">
</head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/leftbar.html :: barrasuperior"></nav>

    <nav th:replace="fragments/leftbar.html :: barraizquierda"></nav>


    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                INVENTARIO PRINCIPAL
            </h1>
        </div>

        <!-- /. COMUNIDAD  -->
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-action">
                            <a class="btn btn-outline-danger" th:href="@{'/comunidad/nuevo'}">agregar</a>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <div th:if="${msgCo != null}" th:text="${msgCo}" class="alert alert-success"
                                     role="alert"></div>

                                <h2 >Ingresar pedido a inventario</h2>
                                <br>
                                <form method="post" th:action="@{'/inventarioPrincipal/guardar'}" th:object="${inventarioProducto}">
                                    <input type="hidden" th:field="*{idinventario}"/>
                                    <div th:if="${msgRepetido != null}" th:text="${msgRepetido}" class="alert alert-success"
                                         role="alert" style="width: 40%">
                                    </div>

                                    <br>
                                    <div class="form-group">
                                        <label for="numeropedido">Número de pedido</label>
                                        <input type="text" class="form-control" th:field="*{numeropedido}" style="width: 25%">
                                        <div class="text-danger" th:if="${#fields.hasErrors('numeropedido')}" th:errors="*{numeropedido}"></div>
                                    </div>

                                    <!-- ELEGIR UN LINEA -->
                                    <div class="form-group" th:if="${inventarioProducto.color == null}">
                                        <label for="linea">Linea</label>
                                        <select class="form-control" name="linea" id="linea" style="width: 40%">
                                            <option th:each=" li : ${listalinea}" th:value="${li.idlinea}"
                                                    th:text="${li.nombrelinea}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group" th:unless="${inventarioProducto.color == null}">
                                        <label for="linea">Linea</label>
                                        <select class="form-control" name="linea" id="linea" style="width: 40%">
                                            <option th:each=" lin : ${listalinea}" th:value="${lin.idlinea}"
                                                    th:text="${lin.nombrelinea}"
                                                    th:selected="${lin.idlinea==inventarioProducto.getProducto().getLinea().idlinea}">
                                            </option>
                                        </select>
                                    </div>
                                    <!-- FIN -->

                                    <!-- ELEGIR UN PRODUCTO -->
                                    <div class="form-group" th:if="${inventarioProducto.color == null}">
                                        <label for="producto">Producto</label>
                                        <select class="form-control" name="producto" id="producto" style="width: 40%">
                                            <option th:each=" pro : ${listaproducto}"
                                                    th:value="${pro.idproducto}"
                                                    th:text="${pro.nombreproducto}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group" th:unless="${inventarioProducto.color == null}">
                                        <label for="producto">Producto</label>
                                        <select class="form-control" name="producto" id="producto" style="width: 40%">
                                            <option th:each=" pro : ${listaproducto}" th:value="${pro.idproducto}"
                                                    th:text="${pro.nombreproducto}"
                                                    th:selected="${pro.idproducto==inventarioProducto.getProducto().getIdproducto()}">
                                            </option>
                                        </select>
                                    </div>
                                    <!- FIN -->

                                    <!-- ELEGIR UN CATEGORIA -->
                                    <div class="form-group" th:if="${inventarioProducto.color == null}">
                                        <label for="Categoria">Categoria</label>
                                        <select class="form-control" name="categoria" id="categoria" style="width: 40%">
                                            <option th:each=" ca : ${listacategoria}" th:value="${ca.idcategoria}"
                                                    th:text="${ca.nombrecategoria}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group" th:unless="${inventarioProducto.color == null}">
                                        <label for="Categoria">Categoria</label>
                                        <select class="form-control" name="categoria" id="categoria" style="width: 40%">
                                            <option th:each=" ca : ${listacategoria}" th:value="${ca.idcategoria}"
                                                    th:text="${ca.nombrecategoria}"
                                                    th:selected="${ca.idcategoria==inventarioProducto.getCategoria().getIdcategoria()}">
                                            </option>
                                        </select>
                                    </div>
                                    <!-- FIN -->

                                    <!-- ELEGIR UN TAMAÑO -->
                                    <div class="form-group" th:if="${inventarioProducto.color == null}">
                                        <label for="Tamano">Tamaño</label>
                                        <select class="form-control" name="tamano" id="tamano" style="width: 40%">
                                            <option th:each=" ta : ${listatamano}" th:value="${ta.idtamano}"
                                                    th:text="${ta.nombretamano}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group" th:unless="${inventarioProducto.color == null}">
                                        <label for="tamano">Tamaño</label>
                                        <select class="form-control" name="tamano" id="tamano" style="width: 40%">
                                            <option th:each=" ta : ${listatamano}" th:value="${ta.idtamano}"
                                                    th:text="${ta.nombretamano}"
                                                    th:selected="${ta.idtamano==inventarioProducto.getTamano().getIdtamano()}">
                                            </option>
                                        </select>
                                    </div>
                                    <!-- FIN -->


                                    <div class="form-group">
                                        <label for="Cantidad">Cantidad</label>
                                        <input type="text" class="form-control" th:field="*{cantidad}" style="width: 25%">
                                        <div class="text-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="color">Color</label>
                                        <input type="text" class="form-control" th:field="*{color}" style="width: 25%">
                                        <div class="text-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="costomosqoy">Costo Moscoy</label>
                                        <input type="text" class="form-control" th:field="*{preciomosqoy}" style="width: 25%">
                                        <div class="text-danger" th:if="${#fields.hasErrors('preciomosqoy')}" th:errors="*{preciomosqoy}"></div>

                                    </div>
                                    <div class="form-group">
                                        <label for="preciotejedor">Costo Tejedor</label>
                                        <input type="text" class="form-control" th:field="*{preciotejedor}" style="width: 25%">
                                        <div class="text-danger" th:if="${#fields.hasErrors('preciotejedor')}" th:errors="*{preciotejedor}"></div>
                                    </div>



                                    <a th:href="@{'/inventarioPrincipal'}" class="btn btn-outline-danger">Cancelar</a>
                                    <button type="submit"  class="btn btn-outline-danger"
                                            th:text="${inventarioProducto.idinventario == 0? 'Registrar' : 'Actualizar'}">Reg/act
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="fragments/leftbar.html :: scriptsAbajo"></div>

</body>

</html>
